
<!-- NAVBAR TEMPLATE FOR MAIN GAME AND HIGHSCORES PAGES. DIFFERENT NAV BAR THAN INDEX.HTML -->


<nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
    <div class="container">
        <form method="POST" class="nav-form">
            <button class="navbar-brand nav-button" name="button" value="home">
                <span></span>RIDDLE ME THIS
             </button>
            <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"
                name="button" action="home">
          Menu
          <i class="fas fa-bars"></i>
            </button>
        </form>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mx-0 mx-lg-1">
                    <form method="POST" class="nav-form">
                        <button class="nav-hs-button" name="button" value="highscores">
                            <span>HIGHSCORES</span>
                        </button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>

{% extends 'base.html' %}

{% block content %}
{% endblock %}