{% extends "base.html" %} {% block content %}

<!-- Navigation (NOT THE SAME NAV AS IN GAME_NAV_TEMPLATE.HTML) -->
<nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Riddle Me This</a>
        <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"
            name="button" action="home">
          Menu
          <i class="fas fa-bars"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#play">Play</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/game_over">Highscores</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Header -->
<header class="masthead bg-primary text-white text-center height">
    <div class="container">
        <h1 class="text-uppercase mb-0">Riddle Me This</h1>
        <hr class="star-light">
        <h2 class="font-weight-light mb-0">A text based riddle game. Set a username to play!</h2>
    </div>
</header>

<!-- Username Grid Section -->
<section class="portfolio" id="play">
    <div class="container">
        <h2 class="text-center text-uppercase text-secondary mb-0">Enter Username</h2>
        <hr class="star-dark mb-5">
    </div>
    <div class="row form-margin">
        <div class="col-12 text-center">
            <form method="POST">
                <input type="text" id="username" name="username" placeholder="Enter Username" autofocus></input>
                <button class="btn btn-default submit-button button-style">Submit User</button>
            </form>
            <!-- flashed message if username is not available -->
            {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
            <h4 class="flashed-message"> {{ message }}</h4>
            {% endfor %} {% endif %} {% endwith %}
        </div>


    </div>

</section>

<!-- Active players Section -->
<section class="bg-primary text-white mb-0" id="online">
    <div class="container">
        <h2 class="text-center text-uppercase text-white">Current Users</h2>
        <hr class="star-light mb-5">
        <div class="row">
            <div class="container-fluid">
                <ul class="list-style normal-text text-center">
                    {% for user in users %}
                    <ul class="guess-style">{{user}}</ul>
                    <hr class="guess-hr"> {% endfor %}
                </ul>
            </div>

            <div class="row">
                <div class="col-12 text-center">
                    <a href="/game_over" class="link-text">Highscores</a>
                </div>
            </div>
        </div>
</section>
{% endblock %}
