<!DOCTYPE html>
<html>

<head>
    <title>Riddle Me This</title>
</head>

<body>
    <div>
        <h1> Enter Username </h1>
        <p>Enter username to proceed to the game</p>
    </div>


    <form method="POST">

        <input type="text" id="username" name="username" placeholder="Enter Username" autofocus></input>
        <button>Submit Answer</button>
    </form>


    <h3>Current Users</h3>
    <ul>
        {% for user in users %}
        <li>{{user}}</li>
        {% endfor %}
    </ul>



    

</body>

</html>
