<!DOCTYPE html>
<html>


<head>
    <!-- meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- bootstrap css -->
    <link rel="stylesheet" href="static/css/styles.css" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">



    <title>Riddle Me This</title>

</head>

<body class="color">

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center heading-text">
                    Riddle Me This<br>
                    <small class="text-muted heading-subtext">A text based riddle game</small>
                </h3>
            </div>
        </div>
    </div>

    <div class="jumbotron">
        <div class="container-fluid">

            <!-- home/highscores links -->
            <div class="row justify-content-between">
                <div class="col-4">
                    <a href="/">
                        <p class="text-center">Home</p>
                    </a>
                </div>

                <div class="col-4">
                    <a href="/">
                        <p class="text-center">Highscores</p>
                    </a>
                </div>
            </div>


            <!-- question id and username -->
            <div class="row">
                <div class="col-4">
                    <!-- question # -->
                    <p class="text-center italic-text"> Question #{{question_id + 1}}/ <span class="normal-text">10</span></p>
                </div>

                <div class="col-4">
                    <p class="text-center italic-text">Currently playing as <span class="normal-text">{{username}}</span></p>
                </div>

                <div class="col-4">
                    <p class="text-center italic-text">Score <span class="normal-text">{{score}}</span></p>
                </div>
            </div>

            <!-- display riddle -->

            <div class="row justify-content-center riddle-div">
                <div class="col-12">
                    <p class="text-center">{{ riddle_data[question_id]['riddle'] }} </p>
                </div>
            </div>

            <!-- submit answer text box -->

            <div class="row text-center">
                <div class="col-12">
                    <form method="POST">
                        <div class="form-group">
                            <input type="hidden" name="question_id" value="{{question_id}}">
                            <input type="hidden" name="score" value="{{score}}">
                            <input type="text" id="answer" name="answer" placeholder="Your Answer Here" autofocus></input>
                        </div>
                        
                        <button class="btn btn-success">Submit Answer</button>
                    </form>
                </div>
            </div>


            <!-- submit answer button -->
            <div class="row text-center">
                <div class="col-12">

                </div>
            </div>

            <!-- hint/give up buttons -->
            <div class="row text-center">
                <div class="col-4 offset-2">
                    <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#hint" aria-expanded="false" aria-controls="hint">Hint</button>
                </div>

                <div class="col-4">
                    <button class="btn btn-danger">Skip</button>
                </div>
            </div>
            <div class="row text-center collapse" id="hint">
                test hint 
            </div>
            
        </div>
    </div>
    
    <!-- incorrect answers jumbotron -->
    <div class="jumbotron">
        <div class="container-fluid">
            
            <h2 class="text-center">Incorrect Answers</h2>
            
            <ul>
                {% for guess in guesses %}
                <li>{{guess}}</li>
                {% endfor %}
            </ul>
        </div>
    </div>





    <!-- jquery/js/popper for bootstrap -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


</body>

</html>
